* {
    margin:0;
    box-sizing: border-box;
}


div{
    margin: 25px;
    padding: 25px;
    text-transform: uppercase;
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    border: 2px solid red;
    ;

}


/* span {
    background-color: chartreuse;
    text-transform: uppercase;
    width: 100px;
    height: 100px;
    display: inline-block;
    
} */