* {
    box-sizing: border-box;
}

nav {
    color: white;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;

}

main{
    background-color: #f3f3f3;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    flex-wrap: nowrap;
}



.nav-bar{
    display: flex;
}

.itemNav{
    margin: 10px;
}

.delivery{
    width: 490px;
    position: relative;
}

.envioGratis{
    display: inline-block;
    position: absolute;
    left: 20px;
}
.podioPizzas{
    width: 490px;
}
