*{
    box-sizing: border-box;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body{
    font-family: "Roboto",sans-serif;
}

html{
    font-size: 18px;
}
header div{
    font-size: 15px;
    background-color: #1CD1B0;
    padding: 5px 10px;

}

header h1{
    font-size: 40px;
    background-color: #00669F;
    padding: 28px 28px;
    box-shadow: 0px 4px 10px gray;
    margin: 0;
}


section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section article{
    position: relative;
    margin: 100px 0;
    width: 300px;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px 16px 0 0;
    box-shadow: 0px 4px 7px gray;
}

section article div.headerCardBatman{
    width: 300px;
    height: 194px;
    background: url(../img/849bfede3a5193c34ab8a00379e64fa2\ 1.png);
    border-radius: 16px 16px 0 0;
    padding: 20px;
}

section article div.headerCardHarley{
    width: 300px;
    height: 194px;
    background: url(../img/harley\ quinn.png);
    border-radius: 16px 16px 0 0;
    padding: 20px;
}

section article div.headerCardMujer{
    width: 300px;
    height: 194px;
    background: url(../img/logo-mujer-maravilla-png-5-300x200.png);
    border-radius: 16px 16px 0 0;
    padding: 20px;
}

section article div.headerCardSuper{
    width: 300px;
    height: 194px;
    background: url(../img/fondo\ superman.png);
    border-radius: 16px 16px 0 0;
    padding: 20px;
}
section article div i {
    color: #CC2424;
    font-size: 35px;
}

/* boton mas */

/* section span{
    background-color: #00669F;
    color: #F3F3F3;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 600px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
} */


/* logo selfie heroe */
section article img {
    position: absolute;
    border-radius: 50%;
    top: 135px;
    box-shadow: 0px 3px 5px gray;
}
section article img.mujerM, img.superM {
    position: absolute;
    border-radius: 50%;
    top: 135px;
    width: 122px;
    height: 122px;
}


section article h3{
    margin-top: 75px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

h3.harley{
    text-transform: capitalize;
}

/* h3.mMaravilla{
    text-transform: capitalize;
} */
section article p{
    font-size: 0.8rem;
    text-align: left;
    height: 190px;
    margin: 10px 10px ;
    padding: 0px 10px;

}

section article button{
    width: 128px;
    color: #ffff;
    background-color: #00669F;
    padding: 15px 35px;
    margin-bottom: 18px;
    margin-left: 85px;
    margin-right: 85px;
    border: none;
}

footer{
    position: relative;
    color: #F3F3F3;
    background-color: #00669F;
    margin: 0;
    padding: 15px 0;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    position: absolute;
    right: 30px;
    width: 100px;
}