
@font-face {
    font-family: 'Smooch Sans', sans-serif;
    src: url();
}
body {
    background-image: url('https://images3.alphacoders.com/621/621682.jpg');
    background-size: cover
}

h1 {
    color: #f4e033;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Smooch Sans',sans-serif;
    
}

h2 {
    color: white;
    background-color: orange;
    opacity: 0.4
    
}